.dashboard-container {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr; 
    height: 100vh; 
    max-width: 100%;
    background-color: #e7ebf2;
    overflow-x: auto !important;
}

/*Inicio de los estilos del ASIDE*/
aside .sidebar #canjesLink {
	display: flex;
	color: var(--clr-info-dark);
	margin-left: 2rem;
    margin-right: 2rem;
	gap: 1rem;
	align-items: center;
	height: 3.3rem;
    transition: background-color 0.3s ease; /* Transición para el color de fondo */
}

aside .sidebar #canjesLink:hover span {
    color: #0074FF;
    margin-left: 1rem;
    transition: color 0.7s, margin-left .4s ease;
}

aside .sidebar #canjesLink span:last-child {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    right: 1;
}

aside .sidebar a.canjesActive {
    color: #0074FF;
	border-radius: 1rem;
    gap: 1rem;
}

aside .sidebar a.canjesActive span{
    color: #0074FF;
}

aside .sidebar a.canjesActive h5 {
    color: #0074FF;
    font-weight: 600;
}

aside * {
    user-select: none; 
}

aside {
    grid-row: 1 / span 2; 
    height: 100%;
    position: fixed;
    overflow: hidden;
    width: 12rem; /* Anchura inicial del aside */
    background-color: var(--clr-aside);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tus preferencias */
    transition: width 0.3s ease; /* Transición para cambiar la anchura */
    z-index: 50;
    user-select: none;
    overflow-y: scroll;
    /*display: none; Deshabilitar*/
}

aside::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Estilo para cerrar el sidebar */
aside.closed {
    width: 5rem; /* Anchura mínima */
}

aside .sidebar a h5.hidden {
    opacity: 0; /* Mantiene oculto cuando tiene la clase hidden */
}

aside .sidebar a.cooldownActive{
    cursor: default !important;
    pointer-events: none !important;
    background-color: gray !important;
}

#canjesArrowDownSpan.hidden {
    opacity: 0; /* Mantiene oculto cuando tiene la clase hidden */
}

aside .top {
	background-color: var(--clr-aside);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.5rem;
    margin-bottom: 2rem;
    height: 2rem; 
    background-color: transparent;
}

aside .logo {
	display: flex;
	gap: 1rem;
}
   
aside .logo img {
    width: 100%;
    height: auto;
    max-width: auto; 
    max-height: 2.5rem; 
    object-fit: contain; 
}
   
/* Estilos para la barra lateral */
aside .sidebar {
	background-color: var(--clr-aside);
	display: flex;
	flex-direction: column;
	height: 100%; /* Altura máxima del body sidebar*/
	position: sticky;
	top: 1rem;
    transition: margin-left 0.9s ease; /* Transición para el contenido principal */
}
  
aside .sidebar a {
	display: flex;
	color: var(--clr-info-dark);
	margin-left: 2rem;
    margin-right: 2rem;
	gap: 1rem;
	align-items: center;
	min-height: 3.3rem;
    transition: background-color 0.3s ease; /* Transición para el color de fondo */
}
  
aside .sidebar a span {
	transition: color 0.5s, .4s ease-in-out;
    font-size: 1.3rem;
}

aside .sidebar a h5 {
	transition: color 0.5s, .25s ease-in-out;
    font-size: 0.95rem;
}

aside .sidebar a:last-child {
	margin-top: 2rem; 
	width: 100%;
}

aside .sidebar a:hover h5 {
    color: var(--clr-primary-variant);
}

aside .sidebar a:hover span {
    color: var(--clr-primary-variant);
	margin-left: 1rem;
}

/* Estilo para la pestaña activa de la barra lateral */
aside .sidebar a.active {
	background-color: var(--clr-primary-variant);
	color: var(--clr-white);
	margin: 0 0.5rem 0 0.5rem;
	padding-left: 1rem;
	border-radius: 1rem;
}

/* Sobrescribir los estilos de hover para el span y el h5 dentro de a.active */
aside .sidebar a.active h5 {
	color: var(--clr-white);
    font-weight: 600;
}

aside .sidebar a.active:hover span {
    color: var(--clr-white);
}

/* Estilos adicionales para mejorar la experiencia */
aside .sidebar a span {
    transition: color 0.5s, margin-left .4s ease;
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: color 0.7s, margin-left .4s ease;
}

aside.hovered {
    width: 12rem; /* Anchura cuando el aside está expandido */
}

.select-items-canjes {
    list-style-type: none;
    background-color: #d1e3fd;
    padding: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 0.5rem;
    max-width: 9.5rem;
    height: auto;
    font-size: 0.9rem;
    z-index: 999;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.select-items-canjes.hidden {
    display: none; 
}

/*#canjesLink:hover + #canjesMenu {
    display: flex;
}

#canjesMenu:hover {
    display: flex;
}*/

#canjesArrowDownSpan {
    opacity: 1;
    transition: transform 0.2s ease-in-out;
}

/*#canjesLink:hover #canjesArrowDownSpan {
    transform: rotate(180deg);
}*/

#canjesArrowDownSpan.up {
    transform: rotate(180deg);
}

#canjesMenu a {
    width: 90%;
    min-height: 2.5rem;
    margin: 0;
    padding-left: 1rem;
    color: #666;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease; /* Agrega una transición al cambiar el color de fondo */
}

#canjesMenu a:hover {
    color: var(--clr-primary-variant);
}

#canjesMenu a.subLinkActive {
    background-color: var(--clr-primary-variant);
	color: var(--clr-white);
    border-radius: 1rem;
}
/*Cierre de los estilos del ASIDE*/

/*Inicio de los estilos del HEADER*/
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: auto;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0; /* Fija el header en la parte superior de la ventana */
    width: 100%;
    /*width: calc(100% - var(--margin-right-headerDashboardContainer));*/ /* Ajusta el ancho */
    z-index: 10; /* Asegura que esté en la capa superior */
    grid-column: 2;
    border-bottom: 0.1rem solid #CCC;
    background-color: white;
    margin: 0; /* Elimina el margen superior */
    padding-left: 13rem;
    transition: all 0.3s ease;
}

.header.asideClosed {
    padding-left: 6rem;
}

.header.asideClosed.asideHovered { 
    padding-left: 12rem;
}

.header .left_menu_close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}
/*Cierre de los estilos del HEADER*/


.notification_container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    user-select: none;
}

.notification_count {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: rgb(33, 169, 144);
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
}

.user_options_List {
    position: relative;
    width: auto;
}

/*Inicio de los estilos del botón parar cerrar y abrir el ASIDE*/
.left_menu_close:hover {
    color: var(--clr-primary-variant);
    background-color: #EEE;
}

.left_menu_close span {
    max-width: 100%;
    max-height: 100%;
    color: var(--clr-info-dark);
    margin: 0.7rem;
    margin-left: 0.8rem;
}

.left_menu_close:hover span{
    font-weight: bold;
}

.left_menu_close.closed span{
    transform: rotate(180deg);
    margin-left: 0.3rem;
}

/*Cierre de los estilos del botón parar cerrar y abrir el ASIDE*/

/*Inicio de los estilos del perfil en el header*/
.profile-photo {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userList option {
    cursor: pointer;
}

#idUserDivList {
    width: auto;
    height: 100%;
}

.userDropdownContainer {
    display: flex;
    flex-direction: row;
    width: auto;
}

#idUserDropdown {
    width: 100%;
    height: auto;
    color: #666;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 10px 0 0;
}

#idUserDropdown span {
    font-weight: 500;
}

#idUserDropdown::placeholder {
    color: var(--clr-primary-variant3);
}

#idUserDropdown:focus {
    color: var(--clr-primary-variant3); /* Color de texto al enfocar */
    border-color: var(--clr-primary-variant3); /* Color del borde al enfocar */
}

#idUserDropdown:hover {
    border-color: var(--clr-primary-variant3); /* Color del borde al enfocar */
}

.div-input-select {
    cursor: pointer;
}

#arrowDownUserList {
    display: flex;
    align-items: center;
}
/*Cierre de los estilos del perfil en el header*/

/*Inicio de los estilos para la lista desplegable del usuario */
.select-items-userList {
    position: absolute;
    color: #666;
    font-size: 1rem;
    width: 100%;
    background-color: #fff;
    list-style-type: none;
    margin: 0.5rem 0 0 0;
    padding: 0;
    z-index: 999;
    display: none; /* Oculta la lista de opciones por defecto */
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); /* Agrega una sombra */
    border: 0.5px solid #6662;
    transition: opacity 0.15s ease;
}

.select-items-userList li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición al cambiar el color de fondo */
    user-select: none;
}

.select-items-userList li:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
}
/*Cierre de los estilos para la lista desplegable del usuario */

/*Inicio de los estilos de la seccion MAIN*/
.main {
    grid-column: 2;
    grid-row: 2;
    background-color: #e7ebf2;
    padding-top: var(--padding-top-mainDashboardContainer); 
    padding-right: var(--padding-right-mainDashboardContainer);
    padding-bottom: var(--padding-bottom-mainDashboardContainer);
    padding-left: var(--padding-left-mainDashboardContainer);
    margin-left: 12rem;
    width: auto;
    height: auto;
    transition: margin 0.3s ease; /* Transición para cambiar el margin */
}

.main.asideClosed {
    margin-left: 5rem;
}

.main.asideHovered {
    margin-left: 12rem;
}
/*Cierre de los estilos de la seccion MAIN*/

#logoutForm {
    user-select: none;
}