#modalEditarOficio-dialog {
	max-width: 650px; 
	max-height: 1rem;
}

#idModalBodyEditarOficio {
	padding: 0;
}

#formEditarOficio {
	padding: 1rem 0;
}

#codigoOficioInputEdit {
	width: 20rem;
}

#descripcionOficioInputEdit {
	width: 17.5rem;
}

#idH5EditOficioModalContainer > h5 {
	font-size: 0.9rem;
	color: #555;
}

#oficioEditOptions {
	height: 11rem;
}