.modal-dialog.modalCrearUsuario {
	max-width: 38rem;
}

.modal-content.modalCrearUsuario {
    height: 100%;
}

.modal-content {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.modal-body {
	padding: 0;
}	

/*NAVBAR*/
.section-navbar {
	display: flex;
	justify-content: start;
	gap: 1rem;
}

.section-tab {
	color: #333;
	text-decoration: none;
	padding: 3px 0;
	border-bottom: 2px solid transparent;
}

.section-tab.active {
	color: #409eff;
	border-bottom: 2px solid #409eff;
}

.section-tab:hover:not(.active) {
	color: #409eff;
}

/*CONTENT*/
#formCrearUsuario {
	padding: 1rem 0 0 0;
	height: 235px;
}

.crearUsuarioContainer {
	display: flex;
	width: 100%;
}

.sectionContent {
	width: 35rem;
	display: none;
}

.sectionContent.active{
	display: block;
}

#perfilUsuarioInput {
	font-size: 14px;
}

#editarUsuarioMessageError {
	padding: 10px 0 0 0;
}

#nameInputCrearUsuario {
	width: 15rem;
}

#emailInputCrearUsuario {
	width: 17rem;
}

.modal-footer {
	margin-top: 0;
}

.form-group.start {
	margin-bottom: 0;
}

#crearUsuarioMessageError {
	margin: 5px 0 0 0;
	padding: 0;
}