.modal-dialog.error {
    background-color: #f7f6f6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-content.error {
    background-color: #f7f6f6;
    padding: 0;
}

.modal-header.error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.modal-title.error {
    padding: 0.5rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #F56C6C;
}

.modal-body.error {
    padding: 10px 0;
    font-size: 16px;
	display: flex;
	flex-direction: row;
    align-items: center;
    background-color: #FFF5F5;
}

.modal-body.error i {
    color: #F56C6C;
    margin: 0 1rem;
}

.modal-body.error p {
    color: #F56C6C;
}

.modal-footer.error {
    display: flex;
    justify-content: flex-end;
    border: none;
}