#modalRecontratarTecnico-dialog {
	max-width: 850px; 
    transform: translateY(-10px);
}

#modalRecontratarTecnico .modal-dialog.open {
    transform: translateY(-50px); 
}

#tecnicoRecontratarInput {
	width: 20rem;
}

#idModalBodyRecontratarTecnico {
	padding: 0;
}

#historicoPuntosInputRecontratar, #puntosActualesInputRecontratar {
	max-width: 5rem;
}

#rangoInputRecontratar {
	max-width: 9rem;
	padding-left: 5px;
}

#idH5RecontratarTecnicoModalContainer > h5{
	font-size: 0.9rem;
	color: #555;
}

#celularInputRecontratar {
	max-width: 7rem;
}

#oficioInputRecontratar {
	width: 22rem;
}

#tecnicoRecontratarOptions {
	max-height: 13.5rem;
}