#modalEliminarTipoRecompensa-dialog {
	max-width: 450px; 
}

#codigoTipoRecompensaInputDelete {
	width: 6rem;
}

#idModalBodyEliminarTipoRecompensa {
	padding: 0;
}

#idH5DeleteTipoRecompensaModalContainer > h5{
	font-size: 0.9rem;
	color: #555;
}
