.modal-dialog.modalEditarUsuario {
	max-width: auto;
}

.modal-content.modalEditarUsuario {
    height: auto;
}

.modal-content {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	overflow: visible;
}

.modal-body {
	padding: 0;
}	

/*NAVBAR*/
.section-navbar {
	display: flex;
	justify-content: start;
	gap: 1rem;
}

.section-tab {
	color: #333;
	text-decoration: none;
	padding: 3px 0;
	border-bottom: 2px solid transparent;
}

.section-tab.active {
	color: #409eff;
	border-bottom: 2px solid #409eff;
}

.section-tab:hover:not(.active) {
	color: #409eff;
}

/*CONTENT*/
#formEditarUsuario {
	padding: 1rem 0 0 0;
	height: auto;
}

.editarUsuarioContainer {
	display: flex;
	width: auto;
	margin-bottom: 0.3rem;
}

.editarContent {
	min-height: 12.3rem;
}

#perfilUsuarioInput {
	font-size: 14px;
}

#editarUsuarioMessageError {
	padding: 10px 0 0 0;
}

#emailInputEditarUsuario {
	width: 17rem;
}

#DNIInputEditarUsuario {
	max-width: 6.5rem;
}

#personalNameInputEditarUsuario {
	width: 12rem;
}

#surnameInputEditarUsuario {
	width: 12rem;
}

#celularPersonalInputEditarUsuario, #celularCorporativoInputEditarUsuario {
	max-width: 7rem;
}

#DNIInputEditarUsuario {
	max-width: 6.5rem;
}

#personalNameInputEditarUsuario {
	width: 12rem;
}

#surnameInputEditarUsuario {
	width: 12rem;
}

#celularPersonalInputEditarUsuario, #celularCorporativoInputEditarUsuario {
	max-width: 7rem;
}

#dateMessageEditarUsuarioError {
	padding: 1.1rem 0 0 0;
}

#fechaNacimientoInputEditarUsuario {
	height: 2.45rem;
}

#editarDatosUsuarioMessageError, #editarDatosPersonalesMessageError {
	margin-top: 0.25rem;
	padding: 0;
	max-width: 100%;
}