#modalRestaurarOficio-dialog {
	max-width: 700px; 
}

#codigoOficioInputRestaurar {
	width: 20rem;
}

#formRestaurarOficio {
	padding: 1rem 0;
}

#idModalBodyRestaurarOficio {
	padding: 0;
}

#idH5RestaurarOficioModalContainer > h5{
	font-size: 1rem;
	color: #555;
}

#costoPuntosInputRestaurar {
	background-color: #fff;
}

#oficioRestaurarOptions {
	height: 11rem;
}