.recompensasContainer {
    border-radius: var(--border-radius-mainSectionContainer);
    padding: var(--padding-mainSectionContainer);
    background-color: var(--background-color-mainSectionContainer);
    width: 100%;
	height: auto;
}

.firstRowRecompensas {
    display: flex;
	flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0.1rem 0 1rem 0;
    gap: 1.5rem;
    grid-template-columns: 30rem 10rem;
    align-items: center;
}

.secondRowRecompensas {
    display: flex;
	flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0.1rem 0 2rem 0;
    gap: 1.5rem;
    grid-template-columns: 30rem 10rem;
    align-items: center;
}

.thirdRow {
    margin-top: 1rem;
    width: auto;
    height: 5%;
    align-items: left;
}

.celdaTipoRecompensa span {
    padding: 5px;
    margin: 0;
    margin-right: 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.75rem;
    display: inline-block;
    width: 85%;
    max-width: 12rem;
    text-align: center;
}

td {
    padding: 1rem 0.5rem !important;
}

.celda-centered.short {
    max-width: 6.5rem;
}

.celda-centered.date {
    width: 9rem;
}

#idCeldaDescripcionRecompensa {
    width: 15rem;
}

.fewStock {
    color: red;
}